* {
    box-sizing: border-box;

}

body {
    background-color: #dddddd;
}

.container {
    height: 100px;
    
    margin:0 auto;
    margin-bottom: 30px;
    border-bottom-style: solid;
    border-color: #cccccc;
    background-color: #ffffff;
    
}

header {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    margin-left: 200px;
    width: 20%;
    font-size: 25px;
    font-weight: bold;
    float: left;
    font-family: 'Georgia', 'Times New Roman', Times, serif;

}

a {
    padding: 20px;
    border-left: 2px solid grey;
    text-decoration: none;
}
#ref {
    padding: 20px;
    float: right;
    margin-top: 25px;
    font-size: 15px;
    border-left: 2px solid #dddddd;
    border-left: 0 none;
    
}



#ref a:first-child {
    border-left: 0 none;
}

#area {
    padding: 30px;
    background-color: #ffffff;
    width: 960px;
    margin-left: 200px;
}

.portfolio {
    
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #4aaaa5;
        background-color: #ffffff;
        font-size: 30px;
        font-weight: bold;
        clear: both;
        padding-bottom: 20px;
        
        border-bottom-style: solid;
        margin-right: 40px;
        border-color: #dddddd;
    }
    .left {
        
        margin-top: 20px;
        
    }

    .right {
        margin-top: 20px;
        
        
    }

    
    .bottom {
        margin-top: 20px;
        
    }   



footer {
    /* padding: 20px;*/
    text-align: center;
    /* background-color: #666666;*/
    border-top-style: solid;
    border-color: #4aaaa5;
    border-width: 6px;
    width: 960px;
    position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    /* Height of the footer*/  
    height: 40px; 
    background: grey; 
}